{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Bank CoffeeHouse</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
      <a class="navbar-brand custom-brand" href="{% url 'home' %}">Red Bank Coffeehouse</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'menu' %}">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'beans' %}">Coffee Bean</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}
  <footer class="mt-5 pb-1 custom-footer">
  <div class="container-lg d-flex justify-content-center">
    <div class="container-fluid">
      <div class="row justify-content-between gx-5">

        <div class="col-12 col-md-3">
          <h4>Two Rivers, Wisconsin</h4>
          <p><a href="https://www.schroederstore.com/" style="text-decoration: none;" target="_blank" rel="noopener noreferrer">Schroeder's Department Store</a></p>
        </div>

        <div class="col-12 col-md-3">
          <h4>Contacts</h4>
          <ul class="list-unstyled">
            <li><a href="mailto:contact@schroederstore.com">contact@schroederstore.com</a></li>
            <li><a href="tel:+1 920-793-2241">(920) 793-2241</a></li>
          </ul>
        </div>

        <div class="col-12 col-md-3">
          <h4>Follow Us</h4>
          <ul class="list-inline social-icons">
            <li class="list-inline-item"><a href="https://www.facebook.com/RedBankCofffeehouse/" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/schroederstore/" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'custom.js' %}"></script>
  {% block extra_js %} {% endblock %}
</body>
</html>