# Security: Generate a new key for production
# In Python Shell: from django.core.management.utils import get_random_secret_key
# print(get_random_secret_key())
DJANGO_SECRET_KEY=your-secret-key-here

# Debug mode: 1 for development, 0 for server
DEBUG=1

# List of hosts separated by commas without spaces
# Example for a server: mysite.com,www.mysite.com,12.34.56.78
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0
